.seccion_artistas{
    h2{

    }
    .div_con_todos_los_artistas{
        .div_de_un_solo_artista_con_nombre{
            padding: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: linear-gradient(to bottom right, #01315e 0%, #fff 100%);
            img{
                width: 100%;
                max-width: 336px;
            }
            h2{
                padding: 0px;
            }
        }
    }
}