section {
  background-color: #F19FCA;

  h2 {
    font-size: 2.25rem;
    text-align: center;
    font-weight: bold;
    font-family: "Anisette";
    padding: 192px 0px 48px 0px;
  }

  .div_con_imgs_y_pronosticos_info {
    padding: 24px;
    margin: 40px 0px 44px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .bloque_imgs_par_de_luchadores_mas_info {
      width: 100%;
      max-width: 624px;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        display: flex;
        justify-content: center;
        height: 40vh;
        width: 100%;
        max-height: 700px;
        position: relative;
        max-width: 600px;
        
        img {
          height: 100%;
          width: auto;
          position: absolute;
          bottom: 0;
          transition: transform 0.3s ease;
          transform-origin: bottom center;
        }

        // Primer luchador a la izquierda
        img:nth-child(1) {
          left: 0;
          transform: translateX(calc(clamp(0px, 5vw, 50px) * -1)) scale(clamp(0.8, 1, 1));
        }

        // Segundo luchador a la derecha
        img:nth-child(2) {
          right: 0;
          transform: translateX(clamp(0px, 5vw, 50px)) scale(clamp(0.8, 1, 1));
        }

        img:nth-child(3){
          height: auto;
          width: 70%;
          bottom: -20% !important;
          transform: skewX(-4deg) skewY(-4deg);
          max-width: 300px;
        }
      }
      .barras_de_pronosticos_con_votaciones{
        margin-top: 20px;
        width: 100%;
          .barra_de_pronosticos_con_votaciones_2{
            .a_con_barra_pronosticos{
              height: auto;
              text-decoration: none;
              color: #fff;
              font-weight: bold;
              display: block;
              .div_dentro_de_a_de_barras_de_pronosticos{
                display: flex !important;
                position: relative;
                border-radius: 30px;
                border: solid 1px #fff;
                box-shadow: 12px 12px 18px 1px rgb(0 0 0 / 0.2);

                .primer_luchador_de_la_barra_de_pronosticos{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  background: pink;
                  background-image: linear-gradient(to left, oklch(82.3% .12 346.018),oklch(65.6% .241 354.308));
                  width: 80%;
                  border-radius: 30px 0px 0px 30px;
                  padding: 10px 0px 10px;
                  position: relative;
                  span{
                    font-size: 10px;
                  }
                  div{
                    width: calc(0.25rem * 2);
                    height: 100%;
                    background: oklch(82.3% 0.12 346.018deg);
                    position: absolute;
                    right: 0px;
                    transform: skewX(12deg);
                    z-index: 999;
                  }
                }
                .primer_luchador_segunda_lucha{
                  width: 80%!important;
                }
                .segundo_luchador_segunda_lucha{
                  width: 20%!important;
                }
                .primer_luchador_tercera_lucha{
                  width: 70%!important;
                }
                .segundo_luchador_tercera_lucha{
                  width: 30%!important;
                }
                .primer_luchador_cuarta_lucha{
                  width: 71%!important;
                }
                .segundo_luchador_cuarta_lucha{
                  width: 29%!important;
                }
                .primer_luchador_quinta_lucha{
                  width: 36%!important;
                }
                .segundo_luchador_quinta_lucha{
                  width: 64%!important;
                }
                .primer_luchador_sexta_lucha{
                  width: 56%!important;
                }
                .segundo_luchador_sexta_lucha{
                  width: 44%!important;
                }
                .primer_luchador_septima_lucha{
                  width: 70%!important;
                }
                .segundo_luchador_septima_lucha{
                  width: 30%!important;
                }
                .segundo_luchador_de_la_barra_de_pronosticos{
                  div{
                    width: calc(0.25rem * 2);
                    height: 100%;
                    background:oklch(80.9% 0.105 251.813deg);
                    position: absolute;
                    left: 0px;
                    transform: skewX(12deg);
                  }
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  position: relative;
                  background-image: linear-gradient(to left, oklch(74.6% .16 232.661),oklch(80.9% .105 251.813));
                  width: 20%;
                  border-radius: 0px 30px 30px 0px;
                  span{
                    font-size: 10px;
                    z-index: 999;
                  }
                }
              }
              
            }
             .numero_de_votos{
              color: #fff;
              text-align: center;
              font-size: 0.75rem;
              text-transform: lowercase;
              margin-top: 12px;
              span{
                font-weight: bold;
              }
            }
          }
    }
    }
  }
}
